.body {
  background-color: #fafafa;
}

@font-face {
  font-family: "Uni";
  src: url("../styles/UnZialish.ttf");
}
.eagle {
  font-family: "Uni", cursive;
  font-weight: bold;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.footer-bg {
  border-top: 0.5px solid #dbdbdb;
  height: 15vh;
  background-color: #fafafa;
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%23c9c8b8' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("./landingastrid.jpg") no-repeat center center fixed;
  background-size: cover;
  max-height: 100vh;
}

.shade {
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.slight-shade {
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.landing-buttons {
  margin-top: 25vh;
  display: flex;
  justify-content: center;
}

.post-header {
  margin: -1.25rem;
  padding: 1.25rem;
  height: 33%;
  background: rgb(142, 140, 132);
  background: linear-gradient(
    18deg,
    rgba(142, 140, 132, 1) 28%,
    rgba(118, 120, 110, 1) 89%
  );
}

.no-radius {
  border-radius: 0px;
}
